# Local env files
.env
.env.backup
.env.production
.env.*
!.env.example

# Packages & dependencies
node_modules/
vendor/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.vscode/
.zed/
.cursor/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.phpactor.json

# Testing
.phpunit.result.cache
.phpunit.cache/

# Laravel recursive matches
**/storage/*.key
**/storage/pail
**/public/build
**/public/hot
**/public/storage
**/storage/framework/cache/data/**
**/storage/framework/sessions/**
**/storage/framework/testing/**
**/storage/framework/views/**
**/storage/logs/**

# Misc
Homestead.json
Homestead.yaml
_ide_helper.php
